<Forms::User-Form
  @heading="Reset your password"
  @footNote="We will send you a link to reset your password"
>
  <form action="" class="ui form">
    <div class="field">
      <label for="">Email</label>
      {{input
        class=classNames
        type=type
        placeholder="Enter your email"
        value=model.email
      }}
    </div>
    <FormFields::Submit
      @title="Get recovery link"
      @classess="ui large green fluid submit button {{if isAuthenticating "loading disabled"}}"
      @perform={{action "resetPassword"}}
    />
  </form>
  <div class="field text-center m-t-20">
    <span>Already have an account?</span>
    {{#link-to "login"}}
      login
    {{/link-to}}
  </div>
</Forms::User-Form>>
