:root {
  --white: #fff;
  --black: #000;
  --dark: #4e5c6e;
  --bg__faint: rgba(237, 244, 247, 0.5);
  --off-dark: #a7a4a4;
  --off-dark__light: rgba(167, 164, 164, 0.15);
  --faint-dark: rgba(78, 92, 110, 0.5);
  --faint-light: rgba(78, 92, 110, 0.5);
  --red: red;
  --red__dark: #d84040;
  --yellow: rgba(247, 247, 41, 1);
  --yellow__light: rgba(247, 247, 41, 0.08);
  --red__light:rgba(255,0,0,0.08);
  --blue: rgb(28, 136, 224);
  --mc-body: rgba(242, 244, 245, 0.5);
  --mc-light-blue: #68C8FF;
  --mc-form_bg-light: rgba(237, 244, 247, 0.5);
  --mc-green: #393;
  --mc-green__light: rgba(51, 153, 51, 0.8);
  --green__light: #b5f7c4;
  --mc-white: #fff;
}
