:root {
  --white: #fff;
  --black: #000;
  --dark: #4e5c6e;
  --bg__faint: rgba(237, 244, 247, 0.5);
  --off-dark: #a7a4a4;
  --off-dark__light: rgba(167, 164, 164, 0.15);
  --faint-dark: rgba(78, 92, 110, 0.5);
  --red: red;
  --blue: rgb(28, 136, 224);
  --green: green;
}
