@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dropdown {
  0% {
    transform: translateY(-200px)
  }


  100% {
    transform: translateY(0px)
  }
}