@import 'grid.css';
@import '_variables.css';
@import 'util.css';
@import 'vertical-menu.css';
@import 'vmenu-semantic-ui__override.css';
@import 'semantic-ui__override.css';
@import 'header.css';
@import 'form-fields.css';
@import 'user-form.css';
@import 'mc-form.css';

/* include custom fonts */
@font-face {
  font-family: "openSans";
  src: url("/fonts/OpenSans-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "maisonNeue";
  src: url("/fonts/maisonneueweb-book-webfont.woff2") format("woff2");
}
body {
  font-family: "openSans", "helveticaNeue";
  color: var(--dark)
}

.full-width {
  width: 100%;
}

.icon-text svg {
  fill: var(--off-dark);
}

.icon-text span {
  padding-right: 10px;
}

a:hover {
  color: var(--off-dark);
}

.bold-caption {
  font-weight: 600;
}

.main-content {
  padding: 40px;
}

.full-height {
  height: 100vh;
}

.form-group {
  width: 600px;
  padding: 40px 0;
}

.divider {
  border-bottom: 1px solid #cacdd2;
  padding: 10px 0;
  font-weight: 900;
}