@import 'grid.css';
@import '_variables.css';
@import 'util.css';
@import 'animations.css';
@import 'vertical-menu.css';
@import 'vmenu-semantic-ui__override.css';
@import 'semantic-ui__override.css';
@import 'header.css';
@import 'form-fields.css';
@import 'user-form.css';
@import 'mc-form.css';
@import 'user-label.css';
@import 'company-list-view.css';
@import 'embedded-form-wrapper.css';
@import 'popup.css';
@import 'filter.css';
@import 'order-card.css';
@import 'order.css';
@import 'mc-modal.css';
@import 'reset-form.css';
@import 'notifications.css';
@import 'search-bar.css';
@import 'activity-card.css';

/* include custom fonts */
@font-face {
  font-family: "openSans";
  src: url("/fonts/OpenSans-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "maisonNeue";
  src: url("/fonts/maisonneueweb-book-webfont.woff2") format("woff2");
}
body {
  font-family: "openSans", "helveticaNeue";
  color: var(--dark);
  /* background: rgba(246, 250, 250, 0.5) !important; */
  background: #fff;
}

.full-width {
  width: 100%;
}

aside p {
  font-size: 0.90rem;
  font-weight: 300;
}

.icon-text svg {
  fill: var(--off-dark);
}

.icon-text span {
  padding-right: 10px;
}

a.danger, .danger, .svg.danger {
  color: var(--red);
}

.required {
  color: rgba(255, 0, 0, 0.6);
}

a:hover {
  color: var(--off-dark);
}

.actions__wrapper {
  position: relative;
}

.bold-caption {
  font-weight: 600;
}

.actions__wrapper .bg__opaque {
  padding: 5px;
}

.bg__opaque {
  background: rgba(236, 216, 98, 0.15);
}

.clickable {
  cursor: pointer;
}

.main-content {
  padding: 40px;
}

.full-height {
  height: 100vh;
}

.form-group {
  width: 600px;
  padding: 40px 0;
}

.mc-divider {
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
  padding: 10px 0;
  font-weight: 900;
}

.mc-divider.thick {
  border-bottom: 3px solid rgba(34, 36, 38, 0.1);
  padding: 10px 0;
  font-weight: 900;
}

.mc-divider.thick.green {
  border-bottom: 3px solid var(--mc-green);
}

.mc-overlay {
  height: 80vh;
  position: absolute;
  width: 75%;
  background: #080808;
  opacity: 0.15;
  z-index: 10;
}
.left.vpane {
  background: var(--black);
  position: relative;
}

.faint {
  color: var(--faint-dark)
}

.very.faint {
  color: var(--faint-light);
}

.faint-form {
  background: rgba(246, 250, 251, 0.5);
  padding: 30px;
  border-radius: 5px;
}

.round-img {
  border-radius: 100%;
  width: 100%
}

.error {
  color: var(--red);
}

.embedded-caption {
  border-radius: 5px;
  padding: 10px;
}

.embedded-caption.opaque {
  background: var(--bg__faint);
}

.embedded-action {
  width: 100px;
}

.embedded-action.error {
  background:var(--mc-red);
  padding: 40px 20px;
  width: 80%;
  margin: auto 0;
  /* animation: fadeOut 3s ease-in-out 0.1s 1 forwards normal; */
}

.green {
  color: green;
}

.align-end {
  align-self: end;
}

.inline-flex {
  display: inline-flex;
}

.caption__small {
  font-size: 0.85rem;
}

.caption__medium {
  font-size: 1.2rem;
}

.inline-wrapper div {
  display: inline;
}

.small.caption {
  font-size: 0.9rem;
}

.primary.action {
  color: var(--blue);
  text-decoration: underline;
}

.success.action {
  color: var(--mc-green);
}

@media only screen and (max-width: 768px) {
  /* override layout for smaller viewport */
.mc-wrapper.grid.columns-2__14 {
    grid-template-areas: "left" "main";
    /* display: none; */
  }

  .columns-2__14 {
    grid-template-columns: 1fr;
  }

  #mc-wrapper > left {
    background: gray;
  }

  #mc-wrapper > main {
    /* display: none; */
  }

  body {
    background: red;
  }
}