.company-wrapper {
  grid-template-columns: 3fr 2fr 2fr;
  padding: 20px 0;
}

.mclist-content__wrapper .company-wrapper:not(:last-child) {
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
  padding: 20px 0;
}

.company-wrapper__header {
  color: var(--blue);
}

.company-wrapper .company-actions {
  display: none;
}

.company-wrapper:hover .company-actions {
  display: block;
}