.company-wrapper {
  grid-template-columns: 3fr 2fr 2fr;
  padding: 20px 0;
}

.mclist-content__wrapper .company-wrapper:not(:last-child) {
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
  padding: 20px 0;
}

.company-wrapper__header {
  color: var(--blue);
}

.mc-card__wrapper .mc-actions,
.company-wrapper .mc-actions {
  display: none;
}

.mc-card__wrapper:hover .mc-actions,
.company-wrapper:hover .mc-actions {
  display: block;
}

.two.mc-card__wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  padding: 20px 10px;
}