.embedded-form__wrapper .embedded-form__header {
  background: rgba(237, 244, 247, 0.5);
  padding: 15px 10px;
}

.embedded-form__wrapper .ui.input {
  margin-left: 0;
}

.embedded-form__action {
  padding: 10px;
}

/* .embedded-action.error::before {
  background: red;
  padding: 10px;
  content: attr(data-content);
  font-size:14px;
  color:black;
  border-radius: 5px;
} */

.floating.action-wrapper {
  border-radius: 5px;
  /* position: fixed; */
  background: var(--bg__faint);
  width: 200px;
  padding: 10px 10px;
  margin: auto;
  /* font-family: sans-serif;
  top: 252px;
  
  z-index: 100;
  text-align: right; */
  float: right;
  /* left: 1078px; */
}