.input-wrapper .ui.input {
  width: 100%;
}

input[type=text] {
    width: 100%;
}

.ui.input > input {
    /* border-radius: 0.1rem; */
    border-radius: 0.25rem;
}

/* override the default input width */
.ui.input.custom {
    width: 100%;
    margin-bottom: 15px;
}

/* override lable colour for semantic ui */
.ui.form .field > label {
    color: var(--dark);
}