.input-wrapper .ui.input {
  width: 100%;
}

input[type=text] {
    width: 100%;
}

.ui.input > input {
    /* border-radius: 0.1rem; */
    border-radius: 0.25rem;
}

/* override the default input width */
.ui.input.custom {
    width: 100%;
    margin-bottom: 15px;
}

/* override lable colour for semantic ui */
.ui.form .field > label {
    color: var(--dark);
}

.input-wrapper {
  width: 100% !important;
}

.input-wrapper ul {
  padding-inline-start: 0;
  margin-block-start: 0;
}

.input-wrapper ul li {
  list-style: none;
  color: var(--red);
  text-align: left;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="email"] {
  width: 100% !important;
}

input + .input-error {
  border: 1px solid red;
  color: red;
}