.header-wrapper {
  padding: 0 20px 0 0;
    position: fixed;
    width: 89%;
    background: #fff;
    z-index: 99;
}

.header-fix {
  height: 74px;
  background: red;
}

/* override semantic ui for the header  */
.header-wrapper .ui.menu:not(.vertical)  .right.menu {
    /* margin-left: 90% !important; */
}

.header-wrapper svg {
  fill: var(--off-dark);
}

/* override semantic ui for header */
.header-wrapper .ui.top.right.pointing.dropdown > .menu {
  margin: 0.25em -0.3em 0em;
}

.header-wrapper .ui.dropdown .menu {
  font-size: 1rem;
  font-family: "openSans"
}

.header-wrapper .ui.dropdown .menu > .header {
  font-size: 1rem;
}

.header-wrapper .ui.menu .ui.dropdown .menu > .item.footer {
  background: var(--off-dark__light)!important;
  border-radius: 0;
}

.header-wrapper .ui.segment {
  background: transparent;
}

/* override semantic ui label size */
.header-wrapper .ui.circular.label {
  min-width: 1em;
  min-height: 1em;
}