.mc-form {
  position: relative;
  width: 65%;
  border-radius: 5px;
  margin: auto;
  /* box-shadow: 0 1px 3px 0 #bfbfbf; */
  box-shadow: 0 1px 5px 0 #becdd1;
}

/* .edit-form .mc-form .transparent {
  background: var(--white);
} */

.mc-form .date-picker__icon {
  position: absolute;
  top: 14px;
  left: 14px;
}

.preview-form__wrapper .edit-form {
  margin-right: 32% !important;
}

.edit-form.transparent .mc-form {
  background: var(--white);
}

.mc-form .action .success{
  fill: green;
}

.mc-form .action .danger {
  fill: var(--red);
}

.mc-form__header {
  background: rgba(237, 244, 247, 0.5);
  padding: 10px 0;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #d9e2e8;
}

.mc-form__footer {
  background: rgba(237, 244, 247, 0.5);
  border-top: 1px solid #d9e2e8;
}

.header-caption {
  /* padding: 20px 30px; */
  padding: 20px 60px;
}

.mc-form__body {
  /* padding: 20px 30px; */
  padding: 20px 60px;
}

/* override semantic ui button size  */
.mc-form .ui.fluid.button {
  width: auto;
}

.mc-form .button-group.inline.fields {
  margin: 0 0 0 60%;
  display: inline-flex;
  padding: 20px;
}

.mc-form .button-group.inline.fields.single{
  margin: 0 0 0 80%;
}
.mc-form .ui.form .field {
  display: grid;
  grid-template-columns: 170px 1fr;
  align-items: center;
}

.mc-form .ui.form .embedded-form__wrapper .field {
  grid-template-columns: 1fr 1fr;
}

/* override text input size for semantic ui */
.mc-form .ui.form input[type="text"] {
  padding: 1rem;
  border-radius: 5px;
}

.mc-form .ui.form input._500 {
  width: 500px
}

.mc-form__roles {
  margin-left: 29%;
}

.mc-form__roles div {
  padding: 2.5px 0;
}

.mc-form__header h3 {
  margin: 0;
}