.order-item .action-wrapper {
  display: inline-flex;
  visibility: hidden;
}

.action-wrapper.opaque {
  background: #f6fafb;
  padding: 5px;
  border-radius: 5px;
}

.order-item:hover .action-wrapper {
  visibility: visible;
}