.custom-popup {
  position: absolute;
  top: 63.5%;
  left: 61%;
}

.custom-popup.ui.button, .mc-popup.ui.button {
  background: #fafcfc;
  position: absolute;
  left: 75%;
  top: 20%;
}

.ui.mc-popup.button {
  padding: 0;
}

/* .embed__form .ui.mc-popup.button {
  position: absolute;
  top: 30%;
  left: 66%;
} */

.ui.popup.custom {
  background: rgb(237, 244, 247)
}

.ui.top.popup.custom:before {
  background: rgb(237, 244, 247)
}