.user-label {
  height: 95px;
  width: 95px;
}

.ui.red.labels .label {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #FFFFFF !important;
}

.user-label__wrapper h2 {
  margin: 0 0 5px 0;
  color: var(--black);
}

.user-label__wrapper span {
  display: block;
  margin: 10px 0;
}

.user-label__wrapper .ui.checkbox { 
  margin-bottom: 10px;
}

.user-label__wrapper .ui.label > img {
  width: 100% !important;
  height: 100% !important;
}

.user-label__wrapper .ui.checkbox input:checked ~ .box:before, 
.ui.checkbox input:checked ~ label:before {
  background: #0495f2;
  border-color: #0495f2;
}

.user-label__wrapper .ui.checkbox input:checked ~ .box:after, 
.ui.checkbox input:checked ~ label:after {
  opacity: 1;
  color: var(--white);
}

.ui.checkbox input:checked ~ .box:after, .ui.checkbox input:checked ~ label:after {
  opacity: 1;
  color: #fff;
}