.v-menu__wrapper {
  /* background: #000; */
  height: 100vh;;
  color: #fff;
  padding: 20px;
  position: fixed;
  z-index: 100;
  /* font-size: 1rem; */
}

.v-menu__wrapper .content.menu .item {
  padding: 10px 0;
}

.v-menu__wrapper a {
  color: var(--off-dark);
}

.v-menu__wrapper .caption a {
  color: #fff;
}
