<div class="ui container center aligned m-t-120">
  <h2 class="caption">Please check your inbox</h2>
  {{svg-jar "mail" width="160px" height="160px"}}
  <p>
    If an account exists with this email, you will receive a link to reset your password.
  </p>
  <p>
    If you do not find this email, check your <span class="caption">SPAM.</span>
  </p>
  <LinkTo @route="login">I want to login instead</LinkTo>
</div>