<div>
  {{#ui-dropdown class="selection" onChange=(action (mut (get changeset property))) placeholder=placeholder }}
    <div class="default text">{{heading}}</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#each options as |op|}}
        <div data-value={{op.id}} class="item">
          {{get op key}}
        </div>
      {{/each}}
    </div>
  {{/ui-dropdown}}
</div>
