<div>
  {{#ui-dropdown class="selection" onChange=(action (mut changeset.type_id)) placeholder=placeholder }}
    <div class="default text">{{heading}}</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{!-- <div class="item">
        -- Select an option --
      </div> --}}
      {{#each options as |op|}}
        <div data-value={{op.id}} class="item">
          {{op.name}}
          {{!-- {{op.key}} --}}
        </div>
      {{/each}}
    </div>
  {{/ui-dropdown}}
</div>
