<div class="mc-wrapper grid columns-2__14">
  <div class="left"> 
    <VerticalMenu />
  </div>
  <div class="main">
    <ContentPane
      @aside={{aside}}
    >
      {{yield}}
    </ContentPane>
  </div>
</div>