<div class="v-menu__wrapper">
  <div class="logo">
    <p style="font-size: 40px; padding: 20px 0">Logo</p>
  </div>
  <div class="ui vertical accordion text menu">
    <div class="p-t-20 p-b-20">
     <p>Home</p>
    </div>
    <div class="item">
        <a class="title">
          <i class="dropdown icon"></i>
          Macosa
        </a>
        <div class="content menu">
            <a class="item" href="#accordion">New Orders</a>
            <a class="item" href="#styled">Review Orders</a>
        </div>
    </div>
    <div class="item">
        <a class="title">
          <i class="dropdown icon"></i> 
          Human Resource
        </a>
        <div class="content menu">
            <a class="item" href="#fluid">Who is off ?</a>
              <a class="item" href="#inverted">Add Employee</a>
        </div>
      </div>
        <div class="item">
        <a class="title">
          <i class="dropdown icon"></i> 
          Marketing
        </a>
        <div class="content menu">
            <a class="item" href="#fluid">Check Inventory</a>
            <a class="item" href="#inverted">Check Account</a>
        </div>
      </div>
    </div>
</div>
