<div class="v-menu__wrapper">
  <div class="logo">
    {{!-- <img src="/highrise_logo.png" alt="" class="ui centered medium image"> --}}
    <p style="font-size: 40px; padding: 20px 0">Logo</p>
  </div>
  <div class="ui vertical accordion text menu">
    <div class="p-t-20 p-b-20">
      <a href="#" class="icon-text"> 
        <span class="caption">
          {{#link-to "authenticated.index"}}
            Home
          {{/link-to}}
        </span>
      </a>
    </div>
    <div class="p-t-20">
      <a href="#" class="content menu icon-text"> 
        <span>
          {{#link-to "notification.index"}}
           Latest Activities
          {{/link-to}}
        </span>
      </a>
    </div>
    <div class="mc-divider"></div>
    {{#each menus as |menu| }}
      <div class="item">
        <a class="title">
          <i class="dropdown icon"></i>
          <span>{{menu.name}}</span>
        </a>
        <div class="content menu">
          {{#each menu.submenus as |sub|}}
            {{#link-to sub.link  class="item"}}
              {{sub.name}}
            {{/link-to}}
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>    
</div>
