<div class="v-menu__wrapper">
  <div class="logo">
    <p style="font-size: 40px; padding: 20px 0">Logo</p>
  </div>
  <div class="ui vertical accordion text menu">
    <div class="p-t-20 p-b-20">
      <a href="#" class="icon-text"> 
        <span>Home</span>
      </a>
    </div>
    {{#each menus as |menu| }}
      <div class="item">
        <a class="title">
          <i class="dropdown icon"></i>
          <span>{{menu.name}}</span>
        </a>
        <div class="content menu">
          {{#each menu.submenus as |sub|}}
            <a class="item">
              {{sub.name}}
            </a>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
