<ContentPane>
  <div class="ui container medium mc-form p-all-20">
    <div class="grid columns-3__13">
      <div>
        <div class="caption">
          {{svg-jar "empty-trash" width="120px" height="120px"}}
        </div>
      </div>
      <div>
        <div class="caption">
          <h3>The trash is empty</h3>
          <p class="">
            Any time someone deletes something from your account, it will be listed here.
          </p>
          <p>
             If something is deleted by accident, you'll be able to restore it exactly as it was.
          </p>
        </div>
      </div>
    </div>
  </div>
</ContentPane>
