<div>
  <div class="ui mc-popup  button" data-content="" data-position="top center">
    {{svg-jar "plus-2" width="13px" height="13px" class="custom button" }}
    <span class="m-l-5">Add new</span>
  </div>
  <div class="ui popup"> 
    <h3 class="faint">{{title}}</h3>
    {{yield}}
  </div>
</div>