<div class="m-b-20">
  {{input
    class=classNames
    type="text"
    placeholder="industry name"
    onChange=(action (mut name))
    value=name
  }}
</div>
<div class={{concat classess (if isSaving " loading") }} onclick={{action "createIndustry"}} role="button">
  Save Industry
</div>

  {{!-- <span class={{concat (if isLoading "ui active loader ") "faint"}}></span> --}}