{{#if canShowModal}}
 <h3>Are you sure you want to delete</h3>
  <button onclick= {{action "decline"}} class="ui default button">Cancel</button>
  <button onclick={{action "confirm"}} class="ui primary green button" >Confirm</button>
{{/if}}