<div class="activity-wrapper m-b-20">
  <div class="activity-card success">
    <span class="activity-title success m-r-8">
      WON
    </span>
    <span>
      The deal was marked active bt Emmanuel Nketia.
    </span>
  </div>
</div>

<div class="activity-wrapper m-b-20">
  <div class="activity-card alert">
    <span class="activity-title alert m-r-8">
      DELETED
    </span>
    <span>
      The deal was marked active bt Emmanuel Nketia.
    </span>
  </div>
</div>

<div class="activity-wrapper m-b-20">
  <div class="activity-card warning">
    <span class="activity-title warning m-r-8">
      UPDATED
    </span>
    <span>
      The deal was marked active bt Emmanuel Nketia.
    </span>
  </div>
</div>