<div class="content-pane">
  <MainHeader />
  <div class={{concat "main-content " classNames}} >
    <div class="grid columns-13__3">
      <div> {{yield}} </div>
      <div> 
        <Aside 
          @data={{aside}}
        />
      </div>
    </div>
  </div>
</div>