<div class="content-pane">
  <div class="main-content">
    <div class="grid columns-12__4  grid-gap__30">
      <div> {{yield}} </div>
      <div> 
        <Aside 
          @data={{aside}}
        />
      </div>
    </div>
  </div>
</div>