<div class="header-wrapper">
  <div class="ui segment">
  <div class="ui secondary menu ">
    <div class="right menu">
      {{!-- <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div> --}}
      <span class="ui item">
       Julius
      </span>
      {{svg-jar "icon-user"}}
    </div>
  </div>
</div>
</div>