
<div class="embedded-form__wrapper">
{{#if hasContent}}
<div class="embedded-form__header m-b-20">
  <div class="grid columns-8__8">
    <div>{{left}} </div>
    <div>{{right}} </div>
  </div>
</div>
{{/if}}
{{yield}}
</div>
