<ContentPane>
  <div class="loader-wrapper">
    <span class="ui container text-center m-t-20 m-b-20">
      {{svg-jar "loader"}}
    </span>
    <div class="caption m-t-20 m-b-20"> {{title}}</div>
  </div>
</ContentPane>