<div class="full-height grid grid-center">
    <div class="user-form__wrapper">
        <div class="user-form__caption">
            <img src="/highrise_logo.png" alt="" class="ui centered medium image">
        </div>
        <div class="user-form__body">
            <div class="user-form__header text-center">
                <h3>Log in to macosa</h3>
            </div>
            <form action="" class="ui form">
                {{#with (changeset model UserValidator) as |changeset|}}
                    <div class="field">
                        <label for="">Email</label>
                        <FormFields::Input 
                            @changeset={{changeset}} 
                            @placeholder="Enter your email"
                            @onChange={{action "validate" changeset}}
                            @property="email"
                        />
                    </div>
                    <div class="field">
                        <label for="">Password</label>
                        <FormFields::Password 
                            @changeset={{changeset}} 
                            @placeholder="Enter your password"
                            @onChange={{action "validate" changeset}}
                            @property="email"
                        />
                    </div>
                    <div class="field form-actions text-right">
                    <a href="/">Forgot password</a>
                    </div>
                    <FormFields::Submit
                        @classess="ui large green fluid submit button"
                    />
                {{/with}}
          </form>
        </div>
    </div>
</div>