<div class="search-bar">
  <div class="icon">s</div>
  <input type="text">
  <div class="search-options">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea cum,
    nobis earum debitis, aliquid dolorum aut pariatur dolorem iure et quasi, 
    architecto quam deserunt id velit officia ut! Asperiores, voluptatum.
  </div>
</div>