<Layout 
    @aside="Help section for Invitation"
>
    <div class="invitation__form">
      <div class="invitation-form__header">
          <div class="header-caption ui form">
            <h1>Add new company</h1>
          </div>
      </div>
      <div class="invitation-form__body">
        <form action="" class="ui form">
            <div class="small-form">
                <div class="field">
                  <label for="company name">Company name</label>
                      <FormFields::Input />
                </div>
                <div class="field">
                  <label for="company name">Company name</label>
                      <FormFields::Input />
                </div>
                <div class="field">
                  <label for="company name">Company name</label>
                      <FormFields::Input />
                </div>
                <div class="field">
                  <label for="company name">Company name</label>
                      <FormFields::Input />
                </div>
            </div>
        </form>
      </div>
    </div>
</Layout>