  {{!-- {{input
      class=classNames
      type=type
      placeholder=placeholder
      keyUp=(action "validate" changeset)
      value=(get changeset property)
      changeset=changeset
  }} --}}


<div class="input-wrapper">
  {{input
    class=classNames
    type=type
    placeholder=placeholder
    keyUp=(action "validate" changeset)
    change=(mut (get changeset property))
    value=(get changeset property)
    changeset=changeset
    property=property
    disabled=disabled
  }}

  {{#if changeset.isDirty}}
    <div>
      <ul style="margin:5px 0 0 0px;font-size: 11.5px; display: block" class="input-error">
        {{#each (get (get changeset.error property) "validation") as |message|}}
          <li>{{message}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>

  
{{!-- {{#if (get changeset.error property)}}
  <div>
    <ul style="margin:5px 0 0 0px;font-size: 11.5px; display: block" class="input-error">
      {{#each (get (get changeset.error property) "validation") as |message|}}
        <li>{{message}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
</div> --}}
