<div class="mc__form">
  <div class="mc-form__header">
    <div class="header-caption ui form">
      <h3>{{heading}} </h3>
    </div>
  </div>
  <div class="mc-form__body">
    <div class="ui form">
      {{yield}}
    </div>
  </div>
</div>