<div class="ui checkbox">
  {{#if checked }}
    <input type="checkbox" name="example" checked>
    {{else}}
      <input type="checkbox" name="example" >
  {{/if}}
    <label>{{label}} </label>
</div>
